body{
    margin:0%;
    padding:0%;
    overflow-x: hidden;
}
nav {
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    /* background-color: #131366; */
    padding-bottom: 1.5%;
    /* padding-top: 1.5%; */
}
ul {
    list-style: none;
    display: flex;
    margin-right: 20%;
  }
   li {
    margin-right: 90px;
    margin-top: 0;
  }
   a {
    color:black;
    text-decoration: none;
  }
 button {
    background-color:#2b8a3e;
    color:#1D0D30;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20%;
  }
  #logo{
      /* margin-top: 2%; */
      width:150px;
      height:150px;
      margin-top: 0;
      margin-left: 5%;
  }
.section-one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 10%;
}
.section-two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 5%;
    margin-left: 10%;
}
.picture  img{
    margin-left: 10%;
    height:400px;
    width: 500px;
    border-radius: 20px;
    margin-left: 20%;

}
.picture2 img{
    margin-left: 10%;
    height:400px;
    width: 400px;
    border-radius: 20px;
    margin-right: 30%;
}

.aboutword{
font-size: 20px;
margin-top: 5%;
margin-right: 20%;
}
h1{
    text-align: center;
    color: rgb(38, 255, 0);
    font-size: 50px;
   

}
.wordtwo{
    font-size: 20px; 
    margin-left: 2%; 
    margin-top: 10%;
}