 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    /* font-size: 16px; */
    line-height: 1.5;
  }


  nav #logo {
    height: 150px;
  }
  
  #sideNav{
    width: 300px;
    height: 100vh;
    position: fixed;
    right: -450px;
    top: 0;
    background:rgba(22, 99, 22, 0.7);
    z-index: 2;
    transition: .5s;
    
  }
  nav ul li{
    list-style: none;
    margin: 50px 20px;
   
  }
  nav ul li a{
    text-decoration: none;
    color: black;
    flex-direction: column; 
    margin-top: 20%;
  }
  #menuBtn{
    width: 70px;
    position: fixed;
    right:25px ;
    top: 20px;
    z-index: 2;
    cursor: pointer;
  }
  
  .section_one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;

  }
  
  .container_one {
    flex-basis: 50%;
    margin-right: 2rem;
    justify-content: space-evenly;
  }
  
  /* .container_one h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: green;
  } */
  .container_one h1{
    color: rgb(109, 139, 63);;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .container_one p {
    font-size: 2rem;
    line-height: 1.5;
    color: #2b8a3e;

  }
  
  .container_two {
    flex-basis: 30%;

  }
  .about-section {
    padding: 40px;
    
  }
  h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: green;
    font-weight: 800;
  }
  .section-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -0px;
  }
  .picture img {
    height: 300px;
    border-radius: 5%;
    width: 40%;
  }
  .aboutword h1{
    font-size: 40px;

  }
  .aboutword {
    font-size: 2rem;
    line-height: 1.5;
    color: green;
    margin-left: 4%;
  }
  .section-two {
    display: flex;
   justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
  }
  .wordtwo {
    /* width: 40%; */
    font-size: 2rem;
    line-height: 1.5;
    color: green;
    margin-right: 8%;
  } 
  .picture2{
    width: 100%;
    
  }
  .picture2 img {
    height: 300px;
    border-radius: 5%;
  }
  .box_one {
  border: 1px solid white;
  background-color: #fff;
  border-radius: 20px;
  padding: 50px 50px;
  
}


.box_two {
  border: 1px solid white;
  background-color: #fff;
  border-radius: 20px;
  padding: 50px 50px;
}


.box_three {
  border: 1px solid white;
  background-color: #fff;
  border-radius: 20px;
  padding: 50px 50px;
}
  
  .container_two img {
    width: 100%;
  }
  
  .section_two {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  
  .section_two .box_one,
  .section_two .box_two,
  .section_two .box_three {
    flex-basis: 30%;
    text-align: center;
  }
  
  .section_two img {
    width: 50%;
    margin-bottom: 1rem;

  }
  .picture img{
    border-radius: 5
  }
  
  .about-section {
   
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    flex-direction: column-reverse;
  }
  
  .about-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(109, 139, 63);
  }
  
  .about-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: green;
  }
  
  .about-section .section-one {
    flex-basis: 50%;
    margin-right: 2rem;
  }
  
  .about-section .section-two {
    flex-basis: 40%;
  }
  
  .about-section .picture img,
  .about-section .picture2 img {
    width: 100%;
  }
   
   .product {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;
  }
  
  .product h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
    color: rgb(109, 139, 63);
  }
  
  .product-img {
    flex-basis: 50%;
    margin-right: 2rem;
  }
  
  .product-img img {
    width: 60%;
  }
  
  .product-text {
    flex-basis: 40%;
  }
  
  .product-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-left: -0%;
    color: rgb(71, 114, 8);
  }
  
  .product-text p {
    font-size: 2rem;
    line-height: 1.5;
    color: green;

  }
  
  .product-text button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    font-size: 1.2rem;
    
  }
  .aboutword p{
    font-size: 2rem;
  }
  
  .product-text button:hover {
    background-color: green;
  }
  
  .testimonials {
    padding: 2rem;
    background-color: #fff;
  }
  
  .testimonials h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(96, 126, 51);
  }
  
  .testimonials ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 1rem;
    margin-left: 15%;
  }
  
  .testimonials li {
    flex-basis: 30%;
    margin-bottom: 2rem;
  }
  
  .testimonials img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 50px;
    margin-left: -20%;
  }
  
  .testimonials p {
    font-size: 2rem;
    line-height: 1.5;
    color: green;
    margin-left: -18%;
  }
  
  #hh {
    font-size: 50px;
    margin-top: 2rem;
    margin-bottom: 1rem;
   text-align: center;
   color:  rgb(109, 139, 63);;
  }
  
  .images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .imagess {
    display: flex;
    justify-content: space-evenly;
  }
  
  .images #image,
  .imagess #imag {
    text-align: center;
    /* color: green; */
  }
  
  .images #image img,
  .imagess #imag img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .images #image .p,
  .imagess #imag .p3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
  }
  
  .images #image .p1,
  .imagess #imag .pp {
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
  }
  
  .images #image .p2,
  .imagess #imag .p4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;
    margin-left: 5%;
  }
  .container h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .headingTwof{
    color: #1a681e;
    margin-top: -4rem;
  }
  
  .container p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .container .logo img {
    height: 50px;
  }
  
  .container .social-media ul {
    display: flex;
    list-style: none;
  }
  
  .container .social-media ul li {
    margin-right: 1rem;
  }
  
  .container .social-media ul li a {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
  }
  .headingTwo{
    color: #1a681e;
    margin-left: -100px;
    margin-left: 5%;
  }


  /* Media queries */
 @media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    margin-top: 1rem;
  }

  nav ul li {
    margin-right: 0.5rem;
    flex-direction: column;
  }

  .section_one {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .container_one,
  .container_two {
    flex-basis: 100%;
    margin-right: 0%;
  }

  .section_two {
    flex-direction: column;
    align-items: center;
  }

  .section_two .box_one,
  .section_two .box_two,
  .section_two .box_three {
    margin-bottom: 1rem;
  }
  .section-two{
    flex-direction: column-reverse;
    flex-basis: 100%;
    margin-right: 0;
    justify-content: space-between;
   
  }  

  .about-section .section-one,
  .about-section  {
    flex-basis: 100%;
    margin-right: 0;
    justify-content: space-between;
    flex-direction: column;
  }


  .product {
    flex-direction: column;
    align-items: center;
  }

  .product-img,
  .product-text {
    flex-basis: 100%;
    margin-right: 0;
  }

  .testimonials li {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }

  .images,
  .imagess {
    flex-direction: column;
    align-items: center;
  }

  .images #image,
  .imagess #imag {
    margin-bottom: 2rem;
  }

  .container {
    /* flex-direction: column; */
    align-items: center;
  }

  .container .social-media ul {
    margin-top: 1rem;
  }
}  

